<div class="sidebar-box search-form-wrap">

</div>
<!-- END sidebar-box -->
<div class="sidebar-box">
    <div class="bio text-center">
        <img src="public/images/person_1.jpg" alt="Image Placeholder" class="img-fluid">
        <div class="bio-body">
            <h2>Nizar Baccour</h2>
            <p>Actuellement en formation de développeur d'applications PHP/Symphony, j'ai créé ce blog pour partager ma
                passion vers le monde du web. Il est dédié au partage des actualités du monde de l'informatique et ceux
                de mes avancements personnels dans mon parcours de développeur. Bonne lecture à tous.</p>
            <p><a href="public/file/cv.pdf" target="_blank" class="btn btn-primary btn-sm rounded">Mon CV</a></p>
            <p class="social">
                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
            </p>
        </div>
    </div>
</div>