<div class="container logo-wrap">
    <div class="row pt-5">
        <div class="col-12 text-center">
            <a class="absolute-toggle d-block d-md-none" data-toggle="collapse" href="#navbarMenu" role="button"
               aria-expanded="false" aria-controls="navbarMenu"><span class="burger-lines"></span></a>
            <h1 class="site-logo"><a href="index.php">Nizar Baccour</a></h1>
            <h3><a href="index.php">Développeur d'application PHP</a></h3>
        </div>
    </div>
</div>