<section class="site-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="owl-carousel owl-theme home-slider">
                    <div>
                        <a href="?action=project&id=1" class="a-block d-flex align-items-center height-lg"
                           style="background-image: url('public/images/img_1.jpg'); ">
                            <div class="text half-to-full">
                                <span class="category mb-5">Proejet 1</span>
                                <div class="post-meta">

                                    <span class="author mr-2">
                                        <img src="public/images/person_1.jpg" alt="Soma Beni"> Evaluator : Soma-Giuseppe Bini</span><br>
                                    <span class="mr-2">Validé : le 22 janvier 2020 </span>
                                    <span class="ml-2"></span>

                                </div>
                                <h3>Festival des films</h3>
                                <p>Projeter des films d'auteur en plein air du 5 au 8 août au parc Monceau à Paris.</p>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="?action=project&id=2" class="a-block d-flex align-items-center height-lg"
                           style="background-image: url('public/images/img_2.jpg'); ">
                            <div class="text half-to-full">
                                <span class="category mb-5"> Projet 2</span>
                                <div class="post-meta">

                                    <span class="author mr-2"><img src="public/images/person_1.jpg"
                                                                   alt="Wenceslas Baridon"> Evaluator : Wenceslas Baridon</span><br>
                                    <span class="mr-2">Validé : le 14 mars 2020  </span>
                                    <span class="ml-2"></span>

                                </div>
                                <h3>Application de restauration en ligne</h3>
                                <p>Livrer des plats de qualité à domicile en moins de 20 minutes...</p>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="?action=project&id=3" class="a-block d-flex align-items-center height-lg"
                           style="background-image: url('public/images/img_3.jpg'); ">
                            <div class="text half-to-full">
                                <span class="category mb-5">Projet 3</span>
                                <div class="post-meta">

                                    <span class="author mr-2"><img src="public/images/person_1.jpg"
                                                                   alt=""> Evaluator : </span><br>
                                    <span class="mr-2">Projet en cours </span>
                                    <span class="ml-2"></span>

                                </div>
                                <h3>Créez mon premier blog en PHP</h3>
                                <p>Développer mon blog professionnel sans Framework</p>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>


</section>
<!-- END section -->