{% extends 'base.html.twig' %}

{% block titlePage %}
    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-4">BACCOUR Nizar</h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    {#{{ $frontendController = new FrontendController(); }}#}
    <div class="col-md-12 col-lg-8 main-content">
        <div class="row">
            <div class="col-md-12">
                Actuellement en formation de développeur d'applications PHP/Symphony, j'ai créé ce blog pour
                partager ma passion vers le monde du web. Il est dédié au partage des actualités du monde de
                l'informatique et ceux de mes avancements personnels dans mon parcours de développeur. Bonne lecture
                à tous.
            </div>
        </div>
    </div>

{% endblock %}